<h2>订单列表 </h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>

    <% @orders.each do |order| %>
    <tr>
      <td> <%= order.created_at.to_s(:db) %> </td>
      <td> <%= link_to("详情", order_path(order.token)) %> </td>
    </tr>
    <% end %>

  </tbody>
</table>
